@import "../../resources/theme/variables";

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.75rem;
  box-shadow: $bottom-shadow;
  .title {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
