$light-blue: #f1f5ff;
$chocolate: #492f30;
$red: #d0071e;
$blue-grey: #7580a5;

// $primary: $red;
// $muted: $grey;
// $dark: $black;

$primary: #1687a7;
$secondary: #30475e;
$success: #6ecb63;
$info: #78c4d4;
$warning: #fbd148;
$danger: #f05454;
$light: #f5f5f5;
$dark: #121212;
$white: #ffffff;
$black: #0c0a0a;
$grey: #cccccc;
