@import "../../../resources/theme/color";
.profile-tile {
  box-shadow: 10px 0px 20px -3px rgba($color: $muted, $alpha: 0.4);
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  min-width: 185px;
  &:hover {
    img {
      transform: scale(1.15);
    }
    .profile-info {
      padding-bottom: 1rem;
    }
  }
  .profile-img {
    min-width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transition: transform 0.25s ease-in-out;
    }
  }
  .profile-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    color: $secondary;
    background-image: linear-gradient(to top, $dark, transparent);
    transition: padding 0.25s ease-in-out;
  }
}
